<eb-list-header [title]="title" [formpath]="formpath"></eb-list-header>
<eb-registry-list [columns]="columns" [data]="data"  [formpath]="formpath" (onDelete)="delete($event)" *ngIf="!busy"></eb-registry-list>
<div class="container-fluid" *ngIf="busy">
  <div class="row" >
    <div class="col-md-6 col-md-offset-3">
      Carregando...
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          <span class="sr-only">Carregando...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectedRegistry !== undefined" class="modal fade" id="removeConfirmationModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmar remoção</h4>
      </div>
      <div class="modal-body">
        <p>Deseja remover o registro {{selectedRegistry?.id}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="delete($event)">Sim</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
      </div>
    </div>
  </div>
</div>
